// Grouping common layout properties
// shared with both the Flexbox and Susy Layouts

.site-wrapper {
  margin: $spacing-delta auto;
  padding: 0 $spacing-beta;
}
.site-header,
.branding,
.content-wrapper,
.site-footer {
    margin-bottom: $spacing-delta;
}

//
// Flexbox Layout
//

.flexbox {
  .site-wrapper {
    display: flex;
    flex-flow: column wrap;

    @include breakpoint(large) {
      flex-flow: row wrap;
      max-width: 70em;
    }
  }
  .site-header,
  .site-footer {
    flex: 1 100%;

    @include breakpoint(large) {
      padding: 0 $spacing-delta;
    }
  }
  .site-main {
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;

    @include breakpoint(large) {
      flex-flow: row wrap;
    }
  }
  .content-wrapper {

    @include breakpoint(large) {
      flex: 2;
      padding: 0 $spacing-beta 0 $spacing-delta;
    }
  }
  .primary-aside,
  .secondary-aside {

    @include breakpoint(large) {
      flex: 1;
      padding: 0 $spacing-delta 0 $spacing-beta;
    }
  }
}

//
// Susy Grid Layout (fallback for no flexbox)
// http://susy.oddbird.net/
//

.no-flexbox,
.no-js {
  // Susy Settings - susydocs.oddbird.net/en/latest/settings/
  $susy: (
    columns: 12,
    gutters: 1,
    math: fluid,
    output: float,
    gutter-position: inside,
    global-box-sizing: (border-box)
  );
  body {
    background: brown !important;
  }
  .site-wrapper {
    @include container(70em); // set susy grid container
  }
  .site-header,
  .site-footer {

    @include breakpoint(large) {
        @include span(full);
    }
  }
  .content-wrapper {

    @include breakpoint(large) {
        @include span(8);
    }
  }
  .primary-aside {

    @include breakpoint(large) {
        @include span(last 4);
        clear: right;
    }
  }
}